@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../fonts/WorkSans-Regular.otf');
}
@font-face {
  font-family: 'WorkSans-Bold';
  src: url('../fonts/WorkSans-Bold.otf');
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Italic.otf');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('../fonts/PlayfairDisplay-Bold.otf');
}
@font-face {
  font-family: 'WorkSans-Medium';
  src: url('../fonts/WorkSans-Medium.otf');
}
